# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables and build results
*.exe
*.out
*.app
*.bin

# CMake Results
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# QTCreator Files
*.user
